<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In For Store</title>

    
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

    
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            
            <div class="container">
                <div class="signup-content">
                    {{#if warn}}
                    <script>
                         alert("The email or password you entered is wrong")
                    </script>
                       
                     {{/if}}
                    <form method="POST" id="signup-form" class="signup-form">
                        <h2 class="form-title">Log In</h2>
                        
                        
                        <div class="form-group">
                            <input type="email" class="form-input" name="email" id="email" placeholder="Your Email" required />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-input" name="password" id="password" placeholder="Password" required  />
                            <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" class="form-submit" value="Log In"/>
                        </div>
                    </form>
                    <p class="loginhere">
                        Donn't have an account ? <a href="/store/signup" class="loginhere-link">SignUp here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>

    
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>